.center-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &:hover > a {
    text-decoration: underline;
  }
}

.mt-20 {
  margin-top: 20px;
}

.nested > ul > li > ul,
.nested > blockquote {
  margin-top: 0px;
}

.nested > blockquote > br.sm {
  content: "";
  display: block;
  height: 5px;
}

.nested > blockquote > p {
  margin-top: 0px !important;
}
